* {
  font-family: sans-serif;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 20px;
  border: none;
  outline: none;
}
button {
  /* border: 1px solid gray; */
  border: none;
  background: whitesmoke;
  /* margin-right: 5px; */
  width: 95%;
  margin-bottom: 10px;
}

button:hover{
  width: 100%;
}

button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}

.App{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  padding: 2%;
  background-color: bisque;
}
h1{
  color: aliceblue;
  font-size: 40px;
}

p{
  border: 2px solid whitesmoke;
  font-size: 40px;
  color: aliceblue;
  border-radius: 15px;
  padding: 2%;
  width: 17%;
}